/* @import "/fonts/Cairo-Light.ttf";
@import "/fonts/Cairo-Regular.ttf";
@import "/fonts/Cairo-SemiBold.ttf";
@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css"; */
/* <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"> */

* {
  font-family: "Cairo", sans-serif;
}
body {
  background-color: #f6f6f6;
}
p,
label,
legend,
span {
  font-size: 15pt !important;
}

.navbar {
  padding: 0 30px;
  justify-content: center;
  direction: rtl;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.4rem !important;
  color: #079a49;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  font-weight: 400;
  font-size: 1.2rem;
  margin: auto 10px;
  color: #303030;
}

.active {
  border-bottom: 2px dotted;
  border-color: #6c63ff;
}

.back {
  border-radius: 10px;
  margin: 2rem auto;
}
