

.back {
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}
.title {
  text-align: center !important;
  margin: 15px auto;
  font-weight: bold;
  font-size: 14pt;
}
.form-header {
background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  border-radius: 10px;
  padding: 20px;
}
.form-header_p {
  margin: auto;
}
.form-header_p span {
  font-weight: bold;
  font-size: 12pt;
}
.form-header_p p {
  font-weight: 400;
  font-size: 12pt;
  margin-bottom: 10px;
}
form {
  margin-top: 20px;
}
.form-row {
  direction: rtl;
  text-align: right !important;
  margin: 10px auto;
}
.form-check-label {
  margin-bottom: 0;
  margin: auto 30px;
}
.btn{
    margin: auto;
}